{% comment %} 
    Renders a product card 
    Accepts:
    - card_product: {Object} Product Liquid object (optional)
    - media_aspect_ratio: {String} Size of the product image card. Values are "square" and "portrait". Default is "square" 
    (optional)
    - image_shape: {String} Image mask to apply to the product image card. Values are "arch", "blob", "chevronleft", 
    "chevronright", "diamond", "parallelogram", and "round". (optional)
    - show_vendor: {Boolean} Show the product vendor. Default: false
    - show_rating: {Boolean} Show the product rating. Default: false
    - extend_height: {Boolean} Card height extends to available container space. Default: true (optional)
    - lazy_load: {Boolean} Image should be lazy loaded. Default: true (optional)
    - show_quick_add: {Boolean} Show the quick add button.
    - section_id: {String} The ID of the section that contains this card.
    - horizontal_class: {Boolean} Add a card--horizontal class if set to true. Default: false (optional)
    - horizontal_quick_add: {Boolean} Changes the quick add button styles when set to true. Default: false (optional)
    - placeholder_image: {String} The placeholder image to use when no product exists. Default: 'product-apparel-2' 
    (optional) 
    Usage: 
    {% render 'top-card-product', show_vendor: section.settings.show_vendor %}
{% endcomment %}

{{ 'component-rating.css' | asset_url | stylesheet_tag }}
{{ 'component-volume-pricing.css' | asset_url | stylesheet_tag }}

{%- if empty -%}
  {%- liquid
    assign ratio = 0.8
  -%}
  <div class="top-card-product card-wrapper product-card-wrapper underline-links-hover">
    <div class="
                                        card card--{{ settings.card_style }}
                                        {% if card_product.featured_media %} card--media{% else %} card--text{% endif %}
                                        {% if settings.card_style == 'card' %} color-{{ settings.card_color_scheme }} gradient{% endif %}
                                        {% if image_shape and image_shape != 'default' %} card--shape{% endif %}
                                        {% if extend_height %} card--extend-height{% endif %}
                                        {% if card_product.featured_media == nil and settings.card_style == 'card' %} ratio{% endif %}
                                        {% if horizontal_class %} card--horizontal{% endif %}
                                      " style="--ratio-percent: {{ 1 | divided_by: ratio | times: 100 }}%;">
      <div class="card__inner {% if settings.card_style == 'standard' %}color-{{ settings.card_color_scheme }} gradient{% endif %}{% if card_product.featured_media or settings.card_style == 'standard' %} ratio{% endif %}" style="--ratio-percent: {{ 1 | divided_by: ratio | times: 100 }}%;">
        {%- if card_product.featured_media -%}
          <div class="card__media{% if image_shape and image_shape != 'default' %} shape--{{ image_shape }} color-{{ settings.card_color_scheme }} gradient{% endif %}">
            <div class="media media--transparent media--hover-effect">
                {% comment %}theme-check-disable ImgLazyLoading{% endcomment %}
              <img
                srcset="
              {%- if card_product.featured_media.width >= 165 -%}
                {{ card_product.featured_media | image_url: width: 165 }} 165w,{%- endif -%}
              {%- if card_product.featured_media.width >= 360 -%}
                {{ card_product.featured_media | image_url: width: 360 }} 360w,{%- endif -%}
              {%- if card_product.featured_media.width >= 533 -%}
                {{ card_product.featured_media | image_url: width: 533 }} 533w,{%- endif -%}
              {%- if card_product.featured_media.width >= 720 -%}
                {{ card_product.featured_media | image_url: width: 720 }} 720w,{%- endif -%}
              {%- if card_product.featured_media.width >= 940 -%}
                {{ card_product.featured_media | image_url: width: 940 }} 940w,{%- endif -%}
              {%- if card_product.featured_media.width >= 1066 -%}
                {{ card_product.featured_media | image_url: width: 1066 }} 1066w,{%- endif -%}
              {{ card_product.featured_media | image_url }} {{ card_product.featured_media.width }}w
                                                                        "
                src="{{ card_product.featured_media | image_url: width: 533 }}"
                sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 130 | divided_by: 4 }}px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
                alt="{{ card_product.featured_media.alt | escape }}"
                class="motion-reduce"
                {% unless lazy_load == false %}
                loading="lazy"
                {% endunless %}
                width="{{ card_product.featured_media.width }}"
                height="{{ card_product.featured_media.height }}">
              {% comment %}theme-check-enable ImgLazyLoading{% endcomment %}

              {%- if card_product.media[1] != null -%}
                <img
                  srcset="
                {%- if card_product.media[1].width >= 165 -%}
                  {{ card_product.media[1] | image_url: width: 165 }} 165w,{%- endif -%}
                {%- if card_product.media[1].width >= 360 -%}
                  {{ card_product.media[1] | image_url: width: 360 }} 360w,{%- endif -%}
                {%- if card_product.media[1].width >= 533 -%}
                  {{ card_product.media[1] | image_url: width: 533 }} 533w,{%- endif -%}
                {%- if card_product.media[1].width >= 720 -%}
                  {{ card_product.media[1] | image_url: width: 720 }} 720w,{%- endif -%}
                {%- if card_product.media[1].width >= 940 -%}
                  {{ card_product.media[1] | image_url: width: 940 }} 940w,{%- endif -%}
                {%- if card_product.media[1].width >= 1066 -%}
                  {{ card_product.media[1] | image_url: width: 1066 }} 1066w,{%- endif -%}
                {{ card_product.media[1] | image_url }} {{ card_product.media[1].width }}w
                                                                                  "
                  src="{{ card_product.media[1] | image_url: width: 533 }}"
                  sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 130 | divided_by: 4 }}px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
                  alt=""
                  class="motion-reduce"
                  loading="lazy"
                  width="{{ card_product.media[1].width }}"
                  height="{{ card_product.media[1].height }}">
              {%- endif -%}
            </div>
          </div>
        {%- endif -%}
        <div class="card__content">
          <div class="card__information">
            <h3 class="product__card producer_text">
              {{- card_product.metafields.custom.producer.value }}
            </h3>
            <h3
              class="card__heading"
              {% if card_product.featured_media == null and settings.card_style == 'standard' %}
              id="title-{{ section_id }}-{{ card_product.id }}"
              {% endif %}>
              <a
                href="{{ card_product.url }}"
                id="StandardCardNoMediaLink-{{ section_id }}-{{ card_product.id }}"
                class="full-unstyled-link"
                aria-labelledby="StandardCardNoMediaLink-{{ section_id }}-{{ card_product.id }} NoMediaStandardBadge-{{ section_id }}-{{ card_product.id }}">
                {{ card_product.title | escape }}
              </a>
            </h3>
          </div>
          <div class="card__badge {{ settings.badge_position }}">
            {%- if card_product.available == false -%}
              <span id="NoMediaStandardBadge-{{ section_id }}-{{ card_product.id }}" class="badge badge--bottom-left color-{{ settings.sold_out_badge_color_scheme }}">
                {{- 'products.product.sold_out' | t -}}
              </span>
            {%- elsif card_product.compare_at_price > card_product.price and card_product.available -%}
              <span id="NoMediaStandardBadge-{{ section_id }}-{{ card_product.id }}" class="badge badge--bottom-left color-{{ settings.sale_badge_color_scheme }}">
                {{- 'products.product.on_sale' | t -}}
              </span>
            {%- endif -%}
          </div>
        </div>
      </div>
      <div class="card__content">
        <div class="card__information">
          <p class="card__producer">
            生産者:
            {{- card_product.metafields.custom.producer.value }}
          </p>
          <h3
            class="card__heading{% if card_product.featured_media or settings.card_style == 'standard' %} h5{% endif %}"
            {% if card_product.featured_media or settings.card_style == 'card' %}
            id="title-{{ section_id }}-{{ card_product.id }}"
            {% endif %}>
            <a
              href="{{ card_product.url }}"
              id="CardLink-{{ section_id }}-{{ card_product.id }}"
              class="full-unstyled-link"
              aria-labelledby="CardLink-{{ section_id }}-{{ card_product.id }} Badge-{{ section_id }}-{{ card_product.id }}">
              {{ card_product.title | escape }}
            </a>
          </h3>
          <div class="card-information">
            {% render 'price'
              , product: card_product
              , price_class: ''
              , show_compare_at_price: true %}
            <!-- Swym Wishlist Plus EPI Button -->
            {% comment %} <button
                                          data-with-epi="true"
                                          class="swym-button swym-add-to-wishlist-view-product product_{{card_product.id}}"
                                          data-swaction="addToWishlist"
                                          data-product-id="{{card_product.id | json}}"
                                          data-variant-id="{{card_product.variants[0].id}}"
                                      data-product-url="{{ shop.url }}{{ card_product.url }}"></button> {% endcomment %}
            <!-- Swym Wishlist Plus EPI Button -->

            <button
              class="swym-button swym-add-to-wishlist-view-product product_{{card_product.id}}"
              data-with-epi="true"
              data-swaction="addToWishlist"
              data-product-id="{{card_product.id | json}}"
              data-variant-id="{{card_product.variants[0].id}}"
              data-product-url="{{ shop.url }}{{ card_product.url }}">
              <svg
                class="active"
                id="active"
                aria-hidden="true"
                width="22"
                height="22"
                xmlns="http://www.w3.org/2000/svg"
                fill="#ff4500"
                viewBox="0 0 21 19">
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="1"
                  d="M11 4C5.5-1.5-1.5 5.5 4 11l7 7 7-7c5.458-5.458-1.542-12.458-7-7Z" />
              </svg>
              <svg
                class="unactive"
                id="unactive"
                aria-hidden="true"
                width="22"
                height="22"
                xmlns="http://www.w3.org/2000/svg"
                fill="#ffffff"
                viewBox="0 0 21 19">
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="1"
                  d="M11 4C5.5-1.5-1.5 5.5 4 11l7 7 7-7c5.458-5.458-1.542-12.458-7-7Z" />
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
{%- else -%}
  {%- liquid
    assign ratio = 0.8
  -%}
  <div class="top-card-product card-wrapper product-card-wrapper underline-links-hover">
    <div class="
                                card card--{{ settings.card_style }}
                                {% if extend_height %} card--extend-height{% endif %}
                                {% if settings.card_style == 'card' %} color-{{ settings.card_color_scheme }} gradient{% endif %}
                              " style="--ratio-percent: 100%;">
      <div class="card__inner{% if settings.card_style == 'standard' %} color-{{ settings.card_color_scheme }} gradient{% endif %} ratio" style="--ratio-percent: 100%;">
        <div class="card__media">
          <div class="media media--transparent">
            {%- if placeholder_image -%}
              {{ placeholder_image | placeholder_svg_tag: 'placeholder-svg' }}
            {%- else -%}
              {{ 'product-apparel-2' | placeholder_svg_tag: 'placeholder-svg' }}
            {% endif %}
          </div>
        </div>
      </div>
      <div class="card__content">
        <div class="card__information">
          <p class="card__producer">生産者: {{ card_product.metafields.custom.company.value.name }}</p>
          <h3 class="card__heading card__heading--placeholder{% if settings.card_style == 'standard' %} h5{% endif %}">
            <a
              role="link"
              aria-disabled="true"
              class="full-unstyled-link">
              {{ 'onboarding.product_title' | t }}
            </a>
          </h3>
          <div class="card-information">
            {% render 'price'
              , show_compare_at_price: true %}
            <!-- Swym Wishlist Plus EPI Button -->
            {% comment %} <button
                                          data-with-epi="true"
                                          class="swym-button swym-add-to-wishlist-view-product product_{{card_product.id}}"
                                          data-swaction="addToWishlist"
                                          data-product-id="{{card_product.id | json}}"
                                          data-variant-id="{{card_product.variants[0].id}}"
                                      data-product-url="{{ shop.url }}{{ card_product.url }}"></button> {% endcomment %}
            <!-- Swym Wishlist Plus EPI Button -->

            <button
              class="swym-button swym-add-to-wishlist-view-product product_{{card_product.id}}"
              data-with-epi="true"
              data-swaction="addToWishlist"
              data-product-id="{{card_product.id | json}}"
              data-variant-id="{{card_product.variants[0].id}}"
              data-product-url="{{ shop.url }}{{ card_product.url }}">
              <svg
                class="active"
                aria-hidden="true"
                width="22"
                height="22"
                xmlns="http://www.w3.org/2000/svg"
                fill="#ff4500"
                viewBox="0 0 21 19">
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="1"
                  d="M11 4C5.5-1.5-1.5 5.5 4 11l7 7 7-7c5.458-5.458-1.542-12.458-7-7Z" />
              </svg>
              <svg
                class="unactive"
                aria-hidden="true"
                width="22"
                height="22"
                xmlns="http://www.w3.org/2000/svg"
                fill="#ffffff"
                viewBox="0 0 21 19">
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="1"
                  d="M11 4C5.5-1.5-1.5 5.5 4 11l7 7 7-7c5.458-5.458-1.542-12.458-7-7Z" />
              </svg>
            </button>

          </div>
        </div>
      </div>
    </div>
  </div>
{%- endif -%}

<style>
  .top-card-product {
    padding: 0 1rem;
  }

  .top-card-product .card__producer,
  .top-card-product .card__heading {
    color: #595757;
    font-family: Noto Sans JP;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 1px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .top-card-product .card__heading a {
    text-decoration: none;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .top-card-product .card-information {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .top-card-product .card-information .price__container {
    color: #595757;
    font-family: Noto Sans JP;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.2;
  }

  .top-card-product .card-information button {
    padding-right: 0.8rem;
    margin-top: unset !important;
  }

  /* hide defaut icon */
  .swym-button.swym-add-to-wishlist-view-product.swym-heart.swym-added:after {
    display: none !important;
  }

  .swym-button.swym-add-to-wishlist-view-product.swym-heart:after {
    display: none !important;
  }

  /* remove opacity of defaut icon */
  .swym-button.swym-add-to-wishlist-view-product.swym-added {
    opacity: unset;
  }

  .button.swym-button.disabled {
    opacity: unset;
  }
  /* style custom icon */
  .swym-button.swym-add-to-wishlist-view-product {
    position: relative;
    z-index: 5;
    width: 22px;
    height: 22px;
    opacity: unset;
  }

  .swym-button.swym-add-to-wishlist-view-product svg {
    transition: all 0.3s;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .swym-button.swym-add-to-wishlist-view-product:not(.swym-added) svg.active {
    opacity: 0;
  }

  .swym-button.swym-add-to-wishlist-view-product.swym-added svg.unactive {
    opacity: 0;
  }
</style>