{{ 'section-contact-form.css' | asset_url | stylesheet_tag }}


<div class="contact-wrapper color-{{ section.settings.color_scheme }} gradient">
  <div class="contact page-width section-{{ section.id }}-padding">
    {%- if section.settings.heading != blank -%}
      <h2 class="title title-wrapper--no-top-margin inline-richtext {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
        {{ section.settings.heading }}
      </h2>
    {%- else -%}
      <h2 class="visually-hidden">{{ 'templates.contact.form.title' | t }}</h2>
    {%- endif -%}
    <div class="form-wrapper">
      {%- liquid
        assign contact_form_class = 'isolate'
        if settings.animations_reveal_on_scroll
        assign contact_form_class = 'isolate scroll-trigger animate--slide-in'
        endif
        -%}
      {%- form 'contact', id: 'ContactForm', class: contact_form_class -%}
        {%- if form.posted_successfully? -%}
          <h2
            class="form-status form-status-list form__message"
            tabindex="-1"
            autofocus>
            {% render 'icon-success' %}
            {{ 'templates.contact.form.post_success' | t }}
          </h2>
        {%- elsif form.errors -%}
          <div class="form__message">
            <h2
              class="form-status caption-large text-body"
              role="alert"
              tabindex="-1"
              autofocus>
              {% render 'icon-error' %}
              {{ 'templates.contact.form.error_heading' | t }}
            </h2>
          </div>
          <ul class="form-status-list caption-large" role="list">
            <li>
              <a href="#ContactForm-email" class="link">
                {{ form.errors.translated_fields.email | capitalize }}
                {{ form.errors.messages.email }}
              </a>
            </li>
          </ul>
        {%- endif -%}
        <div class="form-input-wrapper">
          <div class="form-field">
            <input
              class="form-field__input"
              autocomplete="name"
              type="text"
              id="ContactForm-name"
              name="contact[{{ 'templates.contact.form.name' | t }}]"
              value="{% if form.name %}{{ form.name }}{% elsif customer %}{{ customer.name }}{% endif %}">
            <label class="form-field__label" for="ContactForm-name">{{ 'templates.contact.form.name' | t }}</label>
          </div>
          <div class="form-field">
            <input
              autocomplete="email"
              type="email"
              id="ContactForm-email"
              class="form-field__input"
              name="contact[email]"
              spellcheck="false"
              autocapitalize="off"
              value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
              aria-required="true"
              {% if form.errors contains 'email' %}aria-invalid="true"aria-describedby="ContactForm-email-error"{% endif %}>
            <label class="form-field__label" for="ContactForm-email">
              {{- 'templates.contact.form.email' | t }}
              <span aria-hidden="true">*</span>
            </label>
          </div>
          {%- if form.errors contains 'email' -%}
            <small class="contact__field-error" id="ContactForm-email-error">
              <span class="visually-hidden">{{ 'accessibility.error' | t }}</span>
              <span class="form__message">
                {%- render 'icon-error' -%}
                {{- form.errors.translated_fields.email | capitalize }}
                {{ form.errors.messages.email -}}
              </span>
            </small>
          {%- endif -%}

          <div class="form-field">
            <input
              class="form-field__input"
              type="text"
              id="ContactForm-subject"
              name="contact[{{ 'templates.contact.form.subject' | t }}]">
            <label class="form-field__label" for="ContactForm-subject">{{ 'templates.contact.form.subject' | t }}</label>
          </div>
          <div class="form-field">
            <textarea
              rows="10"
              id="ContactForm-body"
              class="text-area form-field__input"
              name="contact[{{ 'templates.contact.form.body' | t }}]"
              {{- form.body -}}></textarea>
            <label class="form__label form-field__label" for="ContactForm-body">
              {{- 'templates.contact.form.body' | t -}}
            </label>
          </div>
        </div>
        <div class="contact__button">
          <button type="submit" class="button">
            {{ 'templates.contact.form.send' | t }}
          </button>
        </div>
      {%- endform -%}
    </div>
  </div>
</div>

<style>

  .contact .title {
    color: #595757;
    text-align: center;
    font-family: Noto Sans JP;
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: calc(34 / 24);
    margin-bottom: 6rem; /* 141.667% */
  }
  .form-wrapper {
    background-color: rgba(89, 87, 87, 0.10);
    padding: 8rem 9rem 12rem;
  }
  .form__message {
    margin-bottom: 2rem;
  }

  .form-input-wrapper {
    background-color: #fff;
    padding: 5rem 7rem;
  }

  .form-input-wrapper .form-field {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-bottom: 1.2rem;
  }

  .form-input-wrapper .form-field__label {
    min-width: 20rem;
    color: #333;
    font-family: Noto Sans JP;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 350;
    line-height: normal;
  }

  .form-input-wrapper .form-field__input {
    flex-grow: 1;
    height: 5rem;
    background: rgba(89, 87, 87, 0.20);
    border: unset;
  }

  .form-field .text-area {
    min-height: 20rem;
  }

  .form-input-wrapper .contact__field-error {
    font-family: Noto Sans JP;
    color: rgb(231, 71, 53);
  }
  .form-input-wrapper .form-field__input:focus {
    box-shadow: unset !important;
    outline: unset !important;
    border-radius: unset !important;
  }

  .form-input-wrapper .form-field__input:focus-visible {
    box-shadow: unset !important;
    outline: unset !important;
    outline-offset: unset !important;
    border-radius: unset !important;
  }

  .form-wrapper .contact__button {
    margin-top: 7rem;
    text-align: center;
  }

  .form-wrapper .contact__button .button {
    min-width: 27rem;
    height: 5.8rem;
    transition: all 0.2s;
  }
  .form-wrapper .contact__button .button:hover {
    cursor: pointer;
    opacity: 0.8;
  }

  @media screen and (max-width: 1200px) {
    .form-wrapper {
      padding: 6rem 6rem 8rem;
    }
    .form-input-wrapper {
      padding: 5rem;
    }

    .form-input-wrapper .form-field {
      margin-bottom: 1.2rem;
    }

    .form-input-wrapper .form-field__label {
      min-width: 16rem;
      font-size: 1.6rem;
    }

    .form-input-wrapper .form-field__input {
      flex-grow: 1;
      height: 4rem;
    }

    .form-field .text-area {
      min-height: 20rem;
    }
  }

  input:focus,
  textarea:focus,
  keygen:focus,
  select:focus {
    outline-offset: 0 !important;
  }

  @media screen and (max-width: 800px) {
    .form-wrapper {
      padding: 5rem 5rem 8rem;
    }
    .form__message {
      margin-bottom: 2rem;
    }

    .form-input-wrapper {
      padding: 4rem;
    }

    .form-input-wrapper .form-field__label {
      min-width: 15rem;
      font-size: 1.6rem;
    }
    .form-wrapper .contact__button .button {
      min-width: 30rem;
    }

  }

  @media screen and (max-width: 700px) {
    .contact .title {
      margin-bottom: 4rem;
      font-size: 2rem;
    }
    .contact.page-width {
      padding: unset !important;
    }
    .form-wrapper {
      padding: 2rem 1.5rem;
    }
    .form-input-wrapper {
      padding: 2.7rem 2.2rem 8rem;
    }

    .form-input-wrapper .form-field {
      margin-bottom: 1rem;
      display: flex;
      flex-direction: column-reverse;
      align-items: flex-start;
    }
    .form-input-wrapper .form-field__label {
      font-size: 1.6rem;
      margin-bottom: 0.6rem;
    }

    .form-input-wrapper .form-field__input {
      height: 4.6rem;
      width: 100%;
    }

    .form-wrapper .contact__button {
      margin-top: unset;
      padding-bottom: 10rem;
      background-color: #fff;
      text-align: center;
    }
  }
</style>

{% schema %}
  {
    "name": "t:sections.contact-form.name",
    "tag": "section",
    "class": "section",
    "disabled_on": {
      "groups": ["header", "footer"]
    },
    "settings": [
      {
        "type": "inline_richtext",
        "id": "heading",
        "default": "Contact form",
        "label": "Heading"
      }, {
        "type": "color_scheme",
        "id": "color_scheme",
        "label": "t:sections.all.colors.label",
        "default": "background-1"
      }
    ],
    "presets": [
      {
        "name": "t:sections.contact-form.presets.name"
      }
    ]
  }
{% endschema %}