
{%- capture contentForQuerystring -%}{{ content_for_header }}{%- endcapture -%}
  {%- assign pageUrl = contentForQuerystring
    | split: '"pageurl":"'
    | last
    | split: '"'
    | first
    | split: '.myshopify.com'
    | last
    | replace: '\/', '/'
    | replace: '%20', ' '
    | replace: '\u0026', '&'
  -%}{% capture finalurl %}https://{{ pageUrl }}{% endcapture %}

<div class="page-banner-block">
     {% comment %} {{ finalurl }}  {% endcomment %}
  {%- if finalurl contains "RESORT" -%}
    <div class="page-banner-block_image">
      {%- if section.settings.image_resort -%}
        {{ section.settings.image_resort | image_url: width: 3840 | image_tag: loading: 'lazy' }}
      {%- endif -%}
    </div>
    <div class="banner__text-wrapper banner__content banner__content--middle-left banner--desktop-transparent scroll-trigger animate--slide-in page-width-sp">
      <div class="banner__text banner__box content-container content-container--full-width-mobile color-inverse gradient banner__text--left banner__text-mobile--center">
        <h2 class="banner__heading medium text-gray">
          {{ section.settings.heading_resort }}</h2>
        <h3 class="sub__banner__heading text-gray">
          {{ section.settings.sub_heading_resort }}</h3>
      </div>
    </div>

  {%- elsif  finalurl contains "STYLE" -%}
    <div class="page-banner-block_image">
      {%- if section.settings.image_style -%}
        {{ section.settings.image_style | image_url: width: 3840 | image_tag: loading: 'lazy' }}
      {%- endif -%}
    </div>
    <div class="banner__text-wrapper banner__content banner__content--middle-left banner--desktop-transparent scroll-trigger animate--slide-in page-width-sp">
      <div class="banner__text banner__box content-container content-container--full-width-mobile color-inverse gradient banner__text--left banner__text-mobile--center">
        <h2 class="banner__heading medium">
          {{ section.settings.heading_style }}</h2>
        <h3 class="sub__banner__heading">
          {{ section.settings.sub_heading_style }}</h3>
      </div>
    </div>

   {%- elsif  finalurl contains "NATURE" -%}
  <div class="page-banner-block_image">
      {%- if section.settings.image_nature -%}
        {{ section.settings.image_nature | image_url: width: 3840 | image_tag: loading: 'lazy' }}
      {%- endif -%}
    </div>
    <div class="banner__text-wrapper banner__content banner__content--middle-left banner--desktop-transparent scroll-trigger animate--slide-in page-width-sp">
      <div class="banner__text banner__box content-container content-container--full-width-mobile color-inverse gradient banner__text--left banner__text-mobile--center">
        <h2 class="banner__heading medium">
          {{ section.settings.heading_nature }}</h2>
        <h3 class="sub__banner__heading">
          {{ section.settings.sub_heading_nature }}</h3>
      </div>
    </div>

    {%- elsif  finalurl contains "%E3%83%98%E3%82%A2%E3%82%B1%E3%82%A2" -%}
        <div class="page-banner-block_image">
            {%- if section.settings.image_hairCare -%}
              {{ section.settings.image_hairCare | image_url: width: 3840 | image_tag: loading: 'lazy' }}
            {%- endif -%}
          </div>
          <div class="banner__text-wrapper banner__content banner__content--middle-left banner--desktop-transparent scroll-trigger animate--slide-in page-width-sp">
            <div class="banner__text banner__box content-container content-container--full-width-mobile color-inverse gradient banner__text--left banner__text-mobile--center">
              <h2 class="banner__heading medium text-gray text-jp">
                {{ section.settings.heading_hairCare }}</h2>
              <h3 class="sub__banner__heading text-gray">
                {{ section.settings.sub_heading_hairCare }}</h3>
            </div>
          </div>

    {%- elsif  finalurl contains "%E3%83%9C%E3%83%87%E3%82%A3%E3%82%B1%E3%82%A2" -%}
        <div class="page-banner-block_image">
            {%- if section.settings.image_bodyCare -%}
              {{ section.settings.image_bodyCare | image_url: width: 3840 | image_tag: loading: 'lazy' }}
            {%- endif -%}
          </div>
          <div class="banner__text-wrapper banner__content banner__content--middle-left banner--desktop-transparent scroll-trigger animate--slide-in page-width-sp">
            <div class="banner__text banner__box content-container content-container--full-width-mobile color-inverse gradient banner__text--left banner__text-mobile--center">
              <h2 class="banner__heading medium text-jp">
                {{ section.settings.heading_bodyCare }}</h2>
              <h3 class="sub__banner__heading">
                {{ section.settings.sub_heading_bodyCare }}</h3>
            </div>
          </div>

    {%- elsif  finalurl contains "%E3%83%95%E3%82%A7%E3%82%A4%E3%82%B9%E3%82%B1%E3%82%A2" -%}
        <div class="page-banner-block_image">
            {%- if section.settings.image_faceCare -%}
              {{ section.settings.image_faceCare | image_url: width: 3840 | image_tag: loading: 'lazy' }}
            {%- endif -%}
          </div>
          <div class="banner__text-wrapper banner__content banner__content--middle-left banner--desktop-transparent scroll-trigger animate--slide-in page-width-sp">
            <div class="banner__text banner__box content-container content-container--full-width-mobile color-inverse gradient banner__text--left banner__text-mobile--center">
              <h2 class="banner__heading medium text-jp">
                {{ section.settings.heading_faceCare }}</h2>
              <h3 class="sub__banner__heading">
                {{ section.settings.sub_heading_faceCare }}</h3>
            </div>
          </div>

    {%- elsif  finalurl contains "%E3%83%9B%E3%83%86%E3%83%AB%E3%82%A2%E3%83%A1%E3%83%8B%E3%83%86%E3%82%A3" -%}
        <div class="page-banner-block_image">
            {%- if section.settings.image_hotelAmenity -%}
              {{ section.settings.image_hotelAmenity | image_url: width: 3840 | image_tag: loading: 'lazy' }}
            {%- endif -%}
          </div>
          <div class="banner__text-wrapper banner__content banner__content--middle-left banner--desktop-transparent scroll-trigger animate--slide-in page-width-sp">
            <div class="banner__text banner__box content-container content-container--full-width-mobile color-inverse gradient banner__text--left banner__text-mobile--center">
              <h2 class="banner__heading medium text-gray text-jp">
                {{ section.settings.heading_hotelAmenity }}</h2>
              <h3 class="sub__banner__heading text-gray">
                {{ section.settings.sub_heading_hotelAmenity }}</h3>
            </div>
          </div>

    {%- elsif  finalurl contains "%E9%A3%9F%E5%93%81%E3%83%BB%E9%A3%B2%E6%96%99" -%}
        <div class="page-banner-block_image">
            {%- if section.settings.image_foodAndBeverage -%}
              {{ section.settings.image_foodAndBeverage | image_url: width: 3840 | image_tag: loading: 'lazy' }}
            {%- endif -%}
          </div>
          <div class="banner__text-wrapper banner__content banner__content--middle-left banner--desktop-transparent scroll-trigger animate--slide-in page-width-sp">
            <div class="banner__text banner__box content-container content-container--full-width-mobile color-inverse gradient banner__text--left banner__text-mobile--center">
              <h2 class="banner__heading medium text-gray text-jp">
                {{ section.settings.heading_foodAndBeverage }}</h2>
              <h3 class="sub__banner__heading text-gray">
                {{ section.settings.sub_heading_foodAndBeverage }}</h3>
            </div>
          </div>
    
    {%- elsif  finalurl contains "%E3%81%9D%E3%81%AE%E4%BB%96%E9%9B%91%E8%B2%A8" -%}
        <div class="page-banner-block_image">
            {%- if section.settings.image_otherGoods -%}
              {{ section.settings.image_otherGoods | image_url: width: 3840 | image_tag: loading: 'lazy' }}
            {%- endif -%}
          </div>
          <div class="banner__text-wrapper banner__content banner__content--middle-left banner--desktop-transparent scroll-trigger animate--slide-in page-width-sp">
            <div class="banner__text banner__box content-container content-container--full-width-mobile color-inverse gradient banner__text--left banner__text-mobile--center">
              <h2 class="banner__heading medium text-gray text-jp">
                {{ section.settings.heading_otherGoods }}</h2>
              <h3 class="sub__banner__heading text-gray">
                {{ section.settings.sub_heading_otherGoods }}</h3>
            </div>
          </div>

    {%- else  -%}
    <div class="page-banner-block_image">
      {%- if section.settings.image_default -%}
        {{ section.settings.image_default | image_url: width: 3840 | image_tag: loading: 'lazy' }}
      {%- endif -%}
    </div>
    <div class="banner__text-wrapper banner__content banner__content--middle-left banner--desktop-transparent scroll-trigger animate--slide-in page-width-sp">
      <div class="banner__text banner__box content-container content-container--full-width-mobile color-inverse gradient banner__text--left banner__text-mobile--center">
        <h2 class="banner__heading medium text-gray">
          {{ section.settings.heading_default }}</h2>
        <h3 class="sub__banner__heading text-gray">
          {{ section.settings.sub_heading_default }}</h3>
      </div>
    </div>
  {%- endif -%}
</div>



{%- style -%}
  .page-banner-block {
    position: relative;
  }

  .page-banner-block {
    max-width: calc(var(--page-width) - 100px);
    padding: 0;
    margin: 0 auto;
  }

  .page-banner-block_image {
    position: relative;
    margin: 0;
    margin-top: 5.3rem;
    padding: 0;
    height: 30rem;
    background-color: #fff;
  }

    @media screen and (max-width: 1116px) {
    .page-banner-block_image {
       margin-top: 0;
    }
  }


  .page-banner-block_image img {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .banner__text-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
  }
  .banner__text.banner__box {
    background: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }

  .banner__content.banner__content--middle-left {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
 }

 .banner__text-wrapper .banner__text {
      margin-left: 0;
 }

 .text-gray {
    color: #595757 !important;
 }

 .text-jp {
     font-family: Noto Sans JP !important;
 }


  @media screen and (min-width: 750px) {
    .page-banner-block_image {
       /* margin-top: 5.3rem; */
    }

    .banner__content.banner__content--middle-left {
      justify-content: flex-start;
      text-align: left;
    }
    .banner__text-wrapper .banner__text {
      margin-left: 5rem;
   }
  }

  @media screen and (min-width: 990px) {
    .banner__content.banner__content--middle-left {
      justify-content: flex-start;
    }

    .banner__text-wrapper .banner__text {
      margin-left: 5rem;
   }
    .banner--desktop-transparent .banner__box {
      max-width: 89rem;
      border: none;
      border-radius: 0;
      box-shadow: none;
    }
  }
  .banner__heading {
    margin-bottom: 0;
    color: #fff;
    font-family: Poppins;
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 300;
    line-height: calc(32 / 22);
    letter-spacing: 3.3px;
    text-align: left;
  }

  .sub__banner__heading {
    margin-bottom: 0;
    color: #fff;
    font-family: Noto Sans JP;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 1.6px;
  }
{%- endstyle -%}


{% schema %}
  {
    "name": "Page banner",
    "tag": "section",
    "class": "section",
    "settings": [
      {
        "type": "image_picker",
        "label": "banner image resort",
        "id": "image_resort"
      },
       {
        "type": "textarea",
        "id": "heading_resort",
        "label": "Banner heading resort",
        "default": "KANASAN RESORT"
      },
      {
        "type": "textarea",
        "id": "sub_heading_resort",
        "label": "Banner sub heading resort",
        "default": "沖縄の恵みを感じて"
      },
      {
        "type": "image_picker",
        "label": "banner image style",
        "id": "image_style"
      },
      {
        "type": "textarea",
        "id": "heading_style",
        "label": "Banner heading style",
        "default": "KANASAN STYLE"
      },
      {
        "type": "textarea",
        "id": "sub_heading_style",
        "label": "Banner sub heading style",
        "default": "沖縄の恵みを感じて"
      },
      {
        "type": "image_picker",
        "label": "banner image nature",
        "id": "image_nature"
      },
      {
        "type": "textarea",
        "id": "heading_nature",
        "label": "Banner heading nature",
        "default": "KANASAN Nature"
      },
      {
        "type": "textarea",
        "id": "sub_heading_nature",
        "label": "Banner sub heading nature",
        "default": "沖縄の恵みを感じて"
      },
      {
        "type": "image_picker",
        "label": "banner image hair care",
        "id": "image_hairCare"
      },
      {
        "type": "textarea",
        "id": "heading_hairCare",
        "label": "Banner heading hair care",
        "default": "ヘアケア"
      },
      {
        "type": "textarea",
        "id": "sub_heading_hairCare",
        "label": "Banner sub heading hair care",
        "default": "沖縄の恵みを感じて"
      },
        {
        "type": "image_picker",
        "label": "banner image body care",
        "id": "image_bodyCare"
      },
       {
        "type": "textarea",
        "id": "heading_bodyCare",
        "label": "Banner heading body care",
        "default": "ボディケア"
      },
      {
        "type": "textarea",
        "id": "sub_heading_bodyCare",
        "label": "Banner sub heading body care",
        "default": "沖縄の恵みを感じて"
      },
        {
        "type": "image_picker",
        "label": "banner image face care",
        "id": "image_faceCare"
      },
       {
        "type": "textarea",
        "id": "heading_faceCare",
        "label": "Banner heading face care",
        "default": "フェイスケア"
      },
      {
        "type": "textarea",
        "id": "sub_heading_faceCare",
        "label": "Banner sub heading face care",
        "default": "沖縄の恵みを感じて"
      },
        {
        "type": "image_picker",
        "label": "banner image hotel amenity",
        "id": "image_hotelAmenity"
      },
       {
        "type": "textarea",
        "id": "heading_hotelAmenity",
        "label": "Banner heading hotel amenity",
        "default": "ホテルアメニティ"
      },
      {
        "type": "textarea",
        "id": "sub_heading_hotelAmenity",
        "label": "Banner sub heading hotel amenity",
        "default": "沖縄の恵みを感じて"
      },
        {
        "type": "image_picker",
        "label": "banner image food and beverage",
        "id": "image_foodAndBeverage"
      },
       {
        "type": "textarea",
        "id": "heading_foodAndBeverage",
        "label": "Banner heading food and beverage",
        "default": "ホテルアメニティ"
      },
      {
        "type": "textarea",
        "id": "sub_heading_foodAndBeverage",
        "label": "Banner sub heading food and beverage",
        "default": "沖縄の恵みを感じて"
      },
        {
        "type": "image_picker",
        "label": "banner image other goods",
        "id": "image_otherGoods"
      },
      {
        "type": "textarea",
        "id": "heading_otherGoods",
        "label": "Banner heading other goods",
        "default": "食品・飲料"
      },
      {
        "type": "textarea",
        "id": "sub_heading_otherGoods",
        "label": "Banner sub heading other goods",
        "default": "沖縄の恵みを感じて"
      },
        {
        "type": "image_picker",
        "label": "banner image default",
        "id": "image_default"
      },
      {
        "type": "textarea",
        "id": "heading_default",
        "label": "Banner heading default",
        "default": "沖縄の恵みを感じて"
      },
      {
        "type": "textarea",
        "id": "sub_heading_default",
        "label": "Banner sub heading default",
        "default": "沖縄の恵みを感じて"
      }
    ],
    "presets": [
      {
        "name": "Page banner"
      }
    ]
  }
{% endschema %}