
{%- capture contentForQuerystring -%}{{ content_for_header }}{%- endcapture -%}
  {%- assign pageUrl = contentForQuerystring
    | split: '"pageurl":"'
    | last
    | split: '"'
    | first
    | split: '.myshopify.com'
    | last
    | replace: '\/', '/'
    | replace: '%20', ' '
    | replace: '\u0026', '&'
  -%}{% capture finalurl %}https://{{ pageUrl }}{% endcapture %}

<div class="page-banner-block">
  {%- if finalurl contains "RESORT" -%}
    <div class="page-banner-block_image">
      {%- if section.settings.image_resort -%}
        {{ section.settings.image_resort | image_url: width: 3840 | image_tag: loading: 'lazy' }}
      {%- endif -%}
    </div>
    <div class="banner__text-wrapper banner__content banner__content--middle-left banner--desktop-transparent scroll-trigger animate--slide-in page-width-sp">
      <div class="banner__text banner__box content-container content-container--full-width-mobile color-inverse gradient banner__text--left banner__text-mobile--center">
        <h2 class="banner__heading medium text-gray">
          {{ section.settings.heading_resort }}</h2>
        <h3 class="sub__banner__heading text-gray">
          {{ section.settings.sub_heading_resort }}</h3>
      </div>
    </div>

  {%- elsif  finalurl contains "STYLE" -%}
    <div class="page-banner-block_image">
      {%- if section.settings.image_style -%}
        {{ section.settings.image_style | image_url: width: 3840 | image_tag: loading: 'lazy' }}
      {%- endif -%}
    </div>
    <div class="banner__text-wrapper banner__content banner__content--middle-left banner--desktop-transparent scroll-trigger animate--slide-in page-width-sp">
      <div class="banner__text banner__box content-container content-container--full-width-mobile color-inverse gradient banner__text--left banner__text-mobile--center">
        <h2 class="banner__heading medium">
          {{ section.settings.heading_style }}</h2>
        <h3 class="sub__banner__heading">
          {{ section.settings.sub_heading_style }}</h3>
      </div>
    </div>

   {%- elsif  finalurl contains "NATURE" -%}
    
  <div class="page-banner-block_image">
      {%- if section.settings.image_nature -%}
        {{ section.settings.image_nature | image_url: width: 3840 | image_tag: loading: 'lazy' }}
      {%- endif -%}
    </div>
    <div class="banner__text-wrapper banner__content banner__content--middle-left banner--desktop-transparent scroll-trigger animate--slide-in page-width-sp">
      <div class="banner__text banner__box content-container content-container--full-width-mobile color-inverse gradient banner__text--left banner__text-mobile--center">
        <h2 class="banner__heading medium">
          {{ section.settings.heading_nature }}</h2>
        <h3 class="sub__banner__heading">
          {{ section.settings.sub_heading_nature }}</h3>
      </div>
    </div>
    {%- else  -%}

    <div class="page-banner-block_image">
      {%- if section.settings.image_nature -%}
        {{ section.settings.image_nature | image_url: width: 3840 | image_tag: loading: 'lazy' }}
      {%- endif -%}
    </div>
    <div class="banner__text-wrapper banner__content banner__content--middle-left banner--desktop-transparent scroll-trigger animate--slide-in page-width-sp">
      <div class="banner__text banner__box content-container content-container--full-width-mobile color-inverse gradient banner__text--left banner__text-mobile--center">
        <h2 class="banner__heading medium">
          {{ section.settings.heading_nature }}</h2>
        <h3 class="sub__banner__heading">
          {{ section.settings.sub_heading_nature }}</h3>
      </div>
    </div>
  {%- endif -%}
</div>



{%- style -%}
  .page-banner-block {
    position: relative;
  }

  .page-banner-block {
    max-width: calc(var(--page-width) - 100px);
    padding: 0;
    margin: 0 auto;
  }

  .page-banner-block_image {
    position: relative;
    margin: 0;
    margin-top: 5.3rem;
    padding: 0;
    height: 30rem;
    background-color: #fff;
  }

    @media screen and (max-width: 1116px) {
    .page-banner-block_image {
       margin-top: 0;
    }
  }


  .page-banner-block_image img {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .banner__text-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
  }
  .banner__text.banner__box {
    background: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }

  .banner__content.banner__content--middle-left {
    margin-left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
 }

 .text-gray {
    color: #595757 !important;
 }


  @media screen and (min-width: 750px) {
    .page-banner-block_image {
       /* margin-top: 5.3rem; */
    }

    .banner__content.banner__content--middle-left {
      justify-content: flex-start;
      margin-left: 5rem;
      text-align: left;
    }
  }

  @media screen and (min-width: 990px) {
    .banner__content.banner__content--middle-left {
      justify-content: flex-start;
      margin-left: 10rem;
    }
    .banner--desktop-transparent .banner__box {
      max-width: 89rem;
      border: none;
      border-radius: 0;
      box-shadow: none;
    }
  }
  .banner__heading {
    margin-bottom: 0;
    color: #fff;
    font-family: Poppins;
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 300;
    line-height: calc(32 / 22);
    letter-spacing: 3.3px;
    text-align: left;
  }

  .sub__banner__heading {
    margin-bottom: 0;
    color: #fff;
    font-family: Noto Sans JP;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 1.6px;
  }
{%- endstyle -%}


{% schema %}
  {
    "name": "Page banner",
    "tag": "section",
    "class": "section",
    "settings": [
      {
        "type": "image_picker",
        "label": "banner image resort",
        "id": "image_resort"
      },
      {
        "type": "image_picker",
        "label": "banner image style",
        "id": "image_style"
      },
      {
        "type": "image_picker",
        "label": "banner image nature",
        "id": "image_nature"
      },
      {
        "type": "textarea",
        "id": "heading_resort",
        "label": "Banner heading resort",
        "default": "KANASAN RESORT"
      },
      {
        "type": "textarea",
        "id": "sub_heading_resort",
        "label": "Banner sub heading resort",
        "default": "沖縄の恵みを感じて"
      },
      {
        "type": "textarea",
        "id": "heading_style",
        "label": "Banner heading style",
        "default": "KANASAN STYLE"
      },
      {
        "type": "textarea",
        "id": "sub_heading_style",
        "label": "Banner sub heading style",
        "default": "沖縄の恵みを感じて"
      },
      {
        "type": "textarea",
        "id": "heading_nature",
        "label": "Banner heading nature",
        "default": "KANASAN Nature"
      },
      {
        "type": "textarea",
        "id": "sub_heading_nature",
        "label": "Banner sub heading nature",
        "default": "沖縄の恵みを感じて"
      }
    ],
    "presets": [
      {
        "name": "Page banner"
      }
    ]
  }
{% endschema %}