<section
  id="MainProduct-{{ section.id }}"
  class="page-width section-{{ section.id }}-padding"
  data-section="{{ section.id }}">
{{ 'section-main-product.css' | asset_url | stylesheet_tag }}
{{ 'section-item-main-product.css' | asset_url | stylesheet_tag }}
  {% comment %} description {% endcomment %}
  <div class="product__description">
    <div class="description-detail">
      {{ product.description }}
    </div>
    <a href="https://kanasan.okinawa.jp" target="_blank">
      <button class="product-description__btn">関連記事はこちら</button>
    </a>
  </div>
  </section>

  {%- style -%}
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}
      px;
      padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}
      px;
    }

    @media screen and (min-width: 75rem) {
      .section-{{ section.id }}-padding {
        padding-top: {{ section.settings.padding_top }}
        px;
        padding-bottom: {{ section.settings.padding_bottom }}
        px;
      }
    }
  {%- endstyle -%}
  {% schema %}
    {
      "name": "Description Product",
      "tag": "section",
      "class": "section",
      "settings": [
        {
          "type": "text",
          "id": "description",
          "label": "Description"
        }
      ],
      "presets": [
        {
          "name": "Description"
        }
      ]
    }
  {% endschema %}