<div class="section-{{ section.id }} top-brand-list color-{{ section.settings.section_color_scheme }} scroll-trigger animate--slide-in">
  <div class="brand-list-container page-width">
    {%- for block in section.blocks -%}
      <div class="brand">
        <div class="brand-img">
          <img src="{{ block.settings.brand-image | img_url: 'large'}}" alt="{{ block.settings.brand-name }}">
        </div>
        <div class="brand-info-wrapper">
          <h2 class="brand-title">{{ block.settings.brand-name }}</h2>
          <p class="brand-des">{{ block.settings.brand-des }}</p>
        </div>
        <div class="brand-button scroll-trigger animate--slide-in">
          <a role="link" href="{{block.settings.brand-url}}">
            {{ block.settings.button-lable }}
          </a>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

<style>
  .top-brand-list {
    padding-top: 12rem;
    padding-bottom: 16rem;
    background: rgba(89, 87, 87, 0.05);
  }
  .brand-list-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
  }

  .brand-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;

  }

  .brand-img img:hover {
    -ms-transform: scale(1.05); /* IE 9 */
    -webkit-transform: scale(1.05); /* Safari 3-8 */
    transform: scale(1.05);
    transition: all 1s;
  }

  .brand-info-wrapper .brand-title {
    color: #595757;
    text-align: center;
    font-family: Poppins;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.4px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .brand-info-wrapper .brand-des {
    color: #595757;
    font-family: Noto Sans JP;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 300;
    line-height: calc(30 / 18);
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .brand-button {
    margin-top: 2.4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .brand-button a {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    color: #595757;
    font-size: 1.6rem;
    font-family: Poppins;
    border: #595757 1px solid;
    width: 80%;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
  }

  .brand-button a:hover {
    color: #fff;
    transition: 0.3s;
  }

  .brand-button a:hover {
    background-color: #595757;
    transition: 0.3s;
  }

  @media screen and (max-width: 800px) {
    .top-brand-list {
      padding-top: 8rem;
      padding-bottom: 10rem;
    }
    .brand-list-container {
      gap: 2.5rem;
    }
    .brand-info-wrapper .brand-title {
      font-size: 1.8rem;
      letter-spacing: 1.2px;
    }

    .brand-info-wrapper .brand-des {
      font-size: 1.6rem;
      line-height: calc(24 / 16);
    }

    .brand-button {
      margin-top: 2.4rem;
    }

    .brand-button a {
      font-size: 1.6rem;
      width: 80%;
      padding-top: 0.8rem;
      padding-bottom: 0.8rem;
    }


    @media screen and (max-width: 650px) {
      .brand-list-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 4rem;
      }
    }

    @media screen and (max-width: 400px) {
      .brand-button a {
        width: 100%;
      }
    }
  }
</style>
{% schema %}
  {
    "name": "Search by brand",
    "tag": "section",
    "class": "section",
    "settings": [
      {
        "type": "color_scheme",
        "id": "section_color_scheme",
        "label": "t:sections.all.colors.label",
        "default": "background-1"
      }
    ],
    "blocks": [
      {
        "type": "Block",
        "name": "Block",
        "settings": [
          {
            "type": "image_picker",
            "id": "brand-image",
            "label": "Brand image"
          },
          {
            "type": "text",
            "id": "brand-name",
            "default": "Brand name",
            "label": "Brand name"
          },
          {
            "type": "text",
            "id": "brand-des",
            "default": "brand description",
            "label": "brand description"
          },
          {
            "type": "text",
            "id": "button-lable",
            "default": "Button lable",
            "label": "Button lable"
          }, {
            "type": "url",
            "id": "brand-url",
            "label": "URL"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Search by brand",
        "blocks": [
          {
            "type": "Block"
          }, {
            "type": "Block"
          }, {
            "type": "Block"
          }
        ]
      }
    ]
  }
{% endschema %}