<div class=" section-{{ section.id }} gradient color-{{ section.settings.section_color_scheme }} scroll-trigger animate--slide-in">
  <div class="gallery-wrapper page-width">
    <h2 class="gallery-title">
      {{ section.settings.title }}</h2>
    <div class="gallery-list">
      {%- for block in section.blocks -%}
        <a class="gallery-link" href="{{block.settings.url}}">
          <img
            class="gallery-img"
            src="{{block.settings.image | img_url: 'large'}}"
            alt="{{ block.settings.image }}">
        </a>
      {%- endfor -%}
    </div>
  </div>
</div>

<style>
  .gallery-wrapper {
    padding-top: 12rem;
    padding-bottom: 12rem;
  }
  .gallery-title {
    color: #595757;
    font-family: Noto Sans JP;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    padding-bottom: 2.6rem;
    border-bottom: rgb(208 208 208) solid 1px;
  }
  .gallery-list {
    margin-top: 6rem;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 6rem;
  }

  @media screen and (max-width: 1000px) {
    .gallery-list {
      gap: 4rem;
    }
  }

  @media screen and (max-width: 800px) {
    .gallery-list {
      gap: 3rem;
    }
  }

  @media screen and (max-width: 600px) {
    .gallery-list {
      gap: 2rem;
    }
  }

  @media screen and (max-width: 500px) {
    .gallery-list {
      gap: 1rem;
    }
  }
  .gallery-img {
    height: 100%;
    width: 100%;
  }
</style>
{% schema %}
  {
    "name": "Search by Material",
    "tag": "section",
    "class": "section",
    "settings": [
      {
        "type": "color_scheme",
        "id": "section_color_scheme",
        "label": "t:sections.all.colors.label",
        "default": "background-1"
      }, {
        "type": "text",
        "id": "title",
        "label": "Section title",
        "default": "GALLERY"
      }
    ],
    "blocks": [
      {
        "type": "Block",
        "name": "Block",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          }, {
            "type": "url",
            "id": "url",
            "label": "URL"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "GALLERY",
        "blocks": [
          {
            "type": "Block"
          }, {
            "type": "Block"
          }, {
            "type": "Block"
          }
        ]
      }
    ]
  }
{% endschema %}