<div class=" section-{{ section.id }} gradient color-{{ section.settings.section_color_scheme }} {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
  <div class="category-search-wrapper page-width">
    <h2 class="category-search-title">
      {{ section.settings.title }}</h2>
    <div class="category-search-list">
      {%- for block in section.blocks -%}
        <a class="category-link" href="{{block.settings.url}}">
          <img
            class="category-img"
            src="{{block.settings.image | img_url: 'large'}}"
            alt="{{ block.settings.category-name }}">
          <p class="category-name">
            {{ block.settings.category-name }}</p>
        </a>
      {%- endfor -%}
    </div>
  </div>
</div>

<style>
  .category-search-wrapper {
    padding-top: 12rem;
    padding-bottom: 12rem;
  }

  @media screen and (max-width: 800px) {
    .category-search-wrapper {
      padding-top: 6rem;
      padding-bottom: 6rem;
    }
  }

  .category-search-title {
    color: #595757;
    font-family: Noto Sans JP;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    padding-bottom: 2.6rem;
    border-bottom: rgb(208 208 208) solid 1px;
    margin-bottom: 6rem;
  }
  .category-search-list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap:  1.6rem;
  }


  @media screen and (max-width: 1000px) {
    .category-search-list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
  }


  @media screen and (max-width: 650px) {
    .category-search-list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .category-search-list .category-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #595757;
    font-family: Noto Sans JP;
    font-size: 1.6rem;
    font-weight: 400;
  }

  .category-search-list .category-link:hover {
    opacity: 1;
  }
  .category-search-list .category-img {
    max-width: 12rem;
  }
  .category-search-list .category-img:hover {
    -ms-transform: scale(1.08); /* IE 9 */
    -webkit-transform: scale(1.08); /* Safari 3-8 */
    transform: scale(1.08);
    transition: all 0.8s;
  }
</style>
{% schema %}
  {
    "name": "Search by category",
    "tag": "section",
    "class": "section",
    "settings": [
      {
        "type": "color_scheme",
        "id": "section_color_scheme",
        "label": "t:sections.all.colors.label",
        "default": "background-2"
      }, {
        "type": "text",
        "id": "title",
        "label": "Section title",
        "default": "カテゴリーから探す"
      }
    ],
    "blocks": [
      {
        "type": "Block",
        "name": "Block",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          }, {
            "type": "text",
            "id": "category-name",
            "default": "Category name",
            "label": "Category name"
          }, {
            "type": "url",
            "id": "url",
            "label": "URL"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Search by category",
        "blocks": [
          {
            "type": "Block"
          }, {
            "type": "Block"
          }, {
            "type": "Block"
          }
        ]
      }
    ]
  }
{% endschema %}