<div class="section-concept__wrapper  page-width color-{{ section.settings.color_scheme }}">
  <div class="section-concept__blocks {{ section.settings.content_alignment }}">
    {%- for block in section.blocks -%}
      {%- case block.type -%}
        {%- when 'heading' -%}
        <h2
          class="section-concept__heading inline-richtext {{ block.settings.heading_size }}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
          {{ block.shopify_attributes }}
          {% if settings.animations_reveal_on_scroll %}
          data-cascade
          style="--animation-order: {{ forloop.index }};"
          {% endif %}>
          {{ block.settings.heading }}
        </h2>
        {%- when 'text' -%}
        <div
          class="section-concept__text {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
          {{ block.shopify_attributes }}
          {% if settings.animations_reveal_on_scroll %}
          data-cascade
          style="--animation-order: {{ forloop.index }};"
          {% endif %}>
          {{ block.settings.text }}
        </div>
        {%- when 'button' -%}
        <div
          class="section-concept__button scroll-trigger animate--slide-in"
          {{ block.shopify_attributes }}
          {% if settings.animations_reveal_on_scroll %}
          data-cascade
          style="--animation-order: {{ forloop.index }};"
          {% endif %}>
          <a
            class="page-button btn-primary"
            target="_blank"
            {% if block.settings.button_link == blank %}
            role="link"
            aria-disabled="true"
            {% else %}
            href="{{ block.settings.button_link }}"
            {% endif %}>
            {{- block.settings.button_label | escape -}}
          </a>
        </div>
      {%- endcase -%}
    {%- endfor -%}
  </div>


</div>


<style>
  .section-concept__wrapper {
    margin-top: 9rem;
    margin-bottom: 11rem;
    display: flex;
    justify-content: center;
  }

  .section-concept__blocks {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .section-concept__heading {
    width: 100%;
    color: #595757;
    text-align: center;
    font-family: Noto Sans JP;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: calc(44 / 22); /* 154.545% */
  }

  .section-concept__text {
    width: 100%;
    color: #595757;
    text-align: center;
    font-family: Noto Sans JP;
    font-size: 2rem;
    font-weight: 300;
    line-height: calc(44 / 22);
  }
  @media screen and (max-width: 859px) {
    .section-concept__wrapper {
      margin-top: 5.4rem;
    }
    .section-concept__heading {
      font-size: 1.8rem;
      line-height: 1.6;
    }

    .section-concept__text {
      font-size: 1.8rem;
      line-height: 1.6;
    }
  }

  @media screen and (max-width: 749px) {
    .section-concept__heading {
      font-size: 1.6rem;
      line-height: 1.6;
    }

    .section-concept__text {
      font-size: 1.6rem;
      line-height: 1.6;
    }

  }


  @media screen and (min-width: 750px) {
    .section-concept__wrapper {
      width: 100%;
    }

    .section-concept__wrapper--left {
      justify-content: flex-start;
    }

    .section-concept__wrapper--right {
      justify-content: flex-end;
    }

  }

  .section-concept__blocks * {
    overflow-wrap: break-word;
  }

  .section-concept__blocks > * {
    margin-top: 0;
    margin-bottom: 0;
  }

  .section-concept__blocks > * + * {
    margin-top: 2rem;
  }

  .section-concept__blocks > * + a {
    margin-top: 3rem;
  }

  .section-concept__button {
    margin-top: 7rem;
  }

  @media screen and (max-width: 749px) {
    .section-concept__button {
      margin-top: 4rem;
    }
  }
</style>
{% schema %}
  {
    "name": "top-section-concept",
    "tag": "section",
    "class": "section",
    "disabled_on": {
      "groups": ["header", "footer"]
    },
    "settings": [
      {
        "type": "select",
        "id": "content_alignment",
        "options": [
          {
            "value": "left",
            "label": "content_alignment.options__1.label"
          }, {
            "value": "center",
            "label": "content_alignment.options__2.label"
          }, {
            "value": "right",
            "label": "content_alignment.options__3.label"
          }
        ],
        "default": "center",
        "label": "content_alignment.label"
      }, {
        "type": "color_scheme",
        "id": "color_scheme",
        "label": "t:sections.all.colors.label",
        "default": "background-1"
      }
    ],
    "blocks": [
      {
        "type": "heading",
        "name": "section-concept-heading",
        "limit": 3,
        "settings": [
          {
            "type": "inline_richtext",
            "id": "heading",
            "default": "Talk about your brand",
            "label": "top-section-concept.blocks.heading.settings.heading.label"
          }, {
            "type": "select",
            "id": "heading_size",
            "options": [
              {
                "value": "h2",
                "label": "t:sections.all.heading_size.options__1.label"
              }, {
                "value": "h1",
                "label": "t:sections.all.heading_size.options__2.label"
              }, {
                "value": "h0",
                "label": "t:sections.all.heading_size.options__3.label"
              }, {
                "value": "hxl",
                "label": "t:sections.all.heading_size.options__4.label"
              }
            ],
            "default": "h1",
            "label": "t:sections.all.heading_size.label"
          }
        ]
      }, {
        "type": "text",
        "name": "t:sections.rich-text.blocks.text.name",
        "limit": 3,
        "settings": [
          {
            "type": "richtext",
            "id": "text",
            "default": "<p>Share information .</p>",
            "label": "t:sections.rich-text.blocks.text.settings.text.label"
          }
        ]
      }, {
        "type": "button",
        "name": "t:sections.rich-text.blocks.buttons.name",
        "limit": 2,
        "settings": [
          {
            "type": "text",
            "id": "button_label",
            "default": "Button label",
            "label": "t:sections.rich-text.blocks.buttons.settings.button_label_1.label",
            "info": "t:sections.rich-text.blocks.buttons.settings.button_label_1.info"
          }, {
            "type": "url",
            "id": "button_link",
            "label": "t:sections.rich-text.blocks.buttons.settings.button_link_1.label"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "t:sections.rich-text.presets.name",
        "blocks": [
          {
            "type": "heading"
          }, {
            "type": "text"
          }, {
            "type": "button"
          }
        ]
      }
    ]
  }
{% endschema %}